.bg{
    background: #36353D;
}
.main-div{
    margin-top: 14%;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 10%;
}

.h1{
    font-family: Roboto Black;
    font-size: 50px;
    color:#E3E6E4;
    margin:0;

}
.p{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    color: #E3E6E4;
    padding-top: 1rem;
    padding-bottom: 2.3rem;
    margin:0;
}

/* Bootstrap overrides*/
.btn-primary {
    color: #E3E6E4;
    background-color: #101311;
    border: none;
    box-shadow: 0 12px 16px 0 rgba(0,255,255,0.24), 0 17px 50px 0 rgba(0,255,255,0.19);
}
.btn-primary:hover {
    background-color: rgb(0,255,255);
    color: #101311;
}
.btn-group-lg>.btn, .btn-lg{
    font-size: 1.3rem;
    font-family: Fredoka One;
    line-height: 2;
    border-radius: 5rem;
    padding: .5rem 2rem;
}